{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ bookQuery.title }} <small class="text-muted">Last updated {{ bookQuery.modified|date:"SHORT_DATETIME_FORMAT" }}</small></h3>
      <h5>By: {{ bookQuery.author}}</h5>
      <h5>Genre: {{ bookQuery.genre }}</h5>
      <hr>
      <h5>Synopsis:</h5>
      <p>{{ bookQuery.synopsis|linebreaksbr }}</p>
      <hr>
      <a href="{% url 'book-list-page' %}">Back to List</a>
    </div>
  </div>
{% endblock %}
